@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');

:root{
  --primary: #abedda;
  --secondary: #b7f0e0;
  --accent: #607670;
  --background: #dbfff5;
  --font: #090b0b;
  --edit: #607670;
  --delete: #ff3636;
  --notebg: #ececec;
}

html body {
  margin: 0;
  font-family: "Alkatra", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--font);
}

.btn.btn-outline-edit {
  color: var(--accent);
  outline: 1px solid var(--secondary);
  background-color: transparent;
}
.btn.btn-outline-edit:hover {
  color: white;
  background-color: var(--secondary);
  outline: 0;
}

.card.note, .list-group-flush .list-group-item {
  background-color: whitesmoke;
}

.btn.btn-outline-delete {
  color: var(--delete);
  outline: 1px solid var(--delete);
  background-color: transparent;
}
.btn.btn-outline-delete:hover {
  color: black;
  background-color: var(--delete);
  outline: 0;
}

.btn.btn-outline-add {
  color: var(--accent);
  outline: 1px solid var(--accent);
  background-color: transparent;
}

.btn.btn-outline-add:hover {
  color: white;
  background-color: var(--accent);
  outline: 0;
}
.create {
  background-color: var(--notebg);
}